/* постоянные клиенты */

.company-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
    color: var(--second-text-coor);
    // margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    @media (min-width: 768px) {
            column-gap: 24px;
            padding-left: 88px;
            padding-right: 88px;
        }
}

.company-list__item{
    width: calc((100% - 16px) / 2);
    @media (min-width: 768px) {
        width: calc((100% - 48px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 6);
    }
}

.company-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    min-height: 88px;
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    transition: background-color var(--main-tranzitions),
    fill var(--main-tranzitions);
    &:hover,
    &:focus {
        fill: var(--accent-hover-color);
        border: 1px solid var(--accent-hover-color);
    }
}

