/* contacts */

.contacts {
    display: none;
    @media screen and (min-width: 768px) {
            display: block;
    }
    @media screen and (min-width: 1200px) {
            display: flex;
            margin-left: auto;
        }
}

.contacts__item:not(:last-child) {
    margin-right: 40px;
    @media screen and (min-width: 768px) {
            margin-right: 0;
            &:not(:last-child) {
                    margin-bottom: 12px;
                }
        }
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
    //         margin-right: 0;
    //         margin-bottom: 10px;;
    //     }
}

.contacts__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    text-decoration: none;
    transition: color var(--main-tranzitions);
    &:hover,
    &:focus {
        color: var(--accent-hover-color);
    }
    @media screen and (min-width: 768px) {
        padding: 0px;
        font-size: 12px;
        
        
    }
    @media screen and (min-width: 1200px){
        
        // padding: 24px 0;
    }
}

