/* container */

.container {
    padding: 0 16px;
    width: 100%;
    margin: 0 auto;
    /* outline: 2px solid olivedrab; */
    @media (min-width: 428px) {
        width: 428px;
    }

    @media (min-width: 768px) {
        width: 768px;
    }
    
    @media (min-width: 1158px) {
        // width: 1200px;
        width: 1158px;
    }
}