/* footer */

.footer {
    background-color:#2E2F42;
    margin-left: auto;
    margin-right: auto;
    padding: 96px 0;
    font-size: 16px;
    line-height: 1.5;
}

.footer-flex {
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 90px;
        padding-right: 90px;
        
    }
    @media(min-width: 1158px){
        padding: 0;
        column-gap: 0;
    }
}

.logo--white {
    color: #F4F4FD;    
}

.logo-down{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 17px;
    @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-left: 0;
        }
}

.footer-text{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    width: 268px;
    color: #F4F4FD;
    @media screen and (min-width: 768px) {
            margin: 0px;
            width: 264px;
        }
    @media screen and (min-width: 1158px) {
        margin-right: 120px;
    }
}