/* footer */

.footer {
    background-color:#2E2F42;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0;
    font-size: 16px;
    line-height: 1.71;
}

.footer-flex {
    @media(min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    @media(min-width: 1200px){
        justify-content: space-between;
    }
}

.logo--white {
    color: #F4F4FD;    
}

.mob-logo-down{
    margin-right: auto;
    margin-left: auto;
}

.footer-text{
    width: 264px;
    color: #F4F4FD;
}