/* join */

.join {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    // padding-top: 60px;
    // padding-bottom: 60px;
    @media screen and (min-width: 768px) {
            margin: 0px;
        }
}

.join-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primery-white-color);
    margin-bottom: 16px;
    @media screen and (min-width: 768px){
        text-align: start;
        font-weight: 500;
    }
}

.social-networks-footer {
    display: flex;
    justify-content: space-between;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--soc-icon-button-color);
    
    fill: var(--fill-soc-icons);
    transition: background-color var(--main-tranzitions);
    &:hover,
    &:focus {
        background-color: var(--footer-fill-soc-icons);
    }
}

