/* join */

.join {
    width: 208px;
    margin-left: auto;
    margin-right: auto;
    // padding-top: 60px;
    // padding-bottom: 60px;
    @media(min-width: 768px){
        
    }
}

.join-title {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primery-white-color);
    margin-bottom: 16px;
    @media screen and (min-width: 1200px){
        text-align: start;
    }
}

.social-networks-footer {
    display: flex;
    justify-content: space-between;
}

.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--soc-icon-button-color);
    
    fill: var(--fill-soc-icons);
    transition: background-color var(--main-tranzitions);
    &:hover,
    &:focus {
        background-color: var(--footer-fill-soc-icons);
    }
}

