.logo {
    display: block;
    width: 115px;
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
}


.header__logo {
    padding: 25px 0;
}

.logo--black {
    color: var(--second-text-coor);
}