.social-networks {
    /* outline: 2px solid blue;  */
    display: flex;
    margin-top: 8px;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    // max-width: 206px;
    
}

.social-link {
    border-radius: 50%;
    padding: 12px;
    display: flex;
    width: 44px;
    height: 44px;
    /* outline: 2px solid red; */
    fill: var(--fill-soc-icons);
    background-color: var(--soc-icon-button-color);
    transition: background-color var(--main-tranzitions);
    &:hover,
    &:focus {
        background-color: var(--accent-hover-color);
        
    }
}

