/* чем мы занимаемся */

.works {
    padding-bottom: 120px;
    display: none;
    @media screen and (min-width: 1158px){
        display: block;
    }
}

.works__title {
    display: block;
    margin-bottom: 72px;
    color: var(--second-text-coor);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.works-list {
    justify-content: space-between;
    display: flex;
    padding: 0;
}

.works-list__item {
    position: relative;
    display: block;
    margin: 0;
    width: calc((100% - 48px) / 3);
}

